* {
    color: var(--orange-text);
}

body, input, button {
    font-size: 1rem;
    font-family: "Helvetica", Arial;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p, input, input::placeholder {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form-section {
    font-size: 2rem;
}